<%- include('partials/header') %>
<div id="logo" class="animate__animated animate__zoomInUp animate__delay-2s">
    <h1> Paired</h1>
    
    </div>

<div id="landing">
    <div class="animate__animated animate__bounceInLeft animate__delay-1s" id="wineGlass">
        <img src="https://i.imgur.com/MdLQpVZ.png"  width="600" height="600" alt="">
    </div>
    <div class="animate__animated animate__bounceInRight" id="hamburger">
        <img src="https://i.imgur.com/2z8vpIS.png" width="500" height="600" alt="">
    </div>
</div>
<br>


<%- include('partials/footer') %>
