body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(254, 239, 216);
  margin: 0;
}

nav {
  background-color: white;

}

.wineCard {
  display: flex;
  flex-flow: wrap;
}

#landing {
  display: flex;
  margin: 3rem 0;
}

h1 {
  font-size: 8rem;
  text-align: center;
  margin-top: 5rem;
}

#wineGlass{
  margin-left: 3rem;
}