<%- include('../partials/header') %>
<h4 class="display-4 ml-5" ><%= title %> </h4>

  <form class="m-4" action="/wines" method="POST">
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" name="name" autocomplete="off" placeholder="Name">
      </div>
      <div class="col">
        <input type="text" class="form-control" name="varietal" placeholder="Varietal">
      </div>
    </div><br />

    <div class="form-row">
      <div class="col">
        <input type="number" class="form-control" name="year" autocomplete="off" placeholder="Year">
      </div>
      <div class="col">
        <input type="text" class="form-control" name="image" autocomplete="off" placeholder="Image URL">
      </div>
    </div><br />
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" name="url" autocomplete="off" placeholder="URL">
      </div>
      <div class="col">
        <input type="text" class="form-control" name="websiteName" placeholder="Website Name">
      </div>

    </div> <br />
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" name="region" placeholder="Region">
      </div>
      <div class="col">
        <input type="text" class="form-control" name="realPrice" placeholder="Price" value="$">
      </div>
    </div>
    </div> <br />
    <div class="form-row">
       <div class="col">
        <textarea class="form-control" name="description" style="width: 50%;" id="exampleFormControlTextarea1"
          placeholder="Please add brief description..." rows="2"></textarea>
      </div>
    </div>
    </div> <br />

    <button type="submit" class="btn btn-success">Add Wine</button>
</form>
    <%- include('../partials/footer') %>