<%- include('../partials/header') %>
<h3><%= title %></h3>

<form>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Wine Name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Varietal">
    </div>
  </div>
</form>
<br />
<form>
  <div class="form-row">
    <div class="col">
      <input type="number" class="form-control" placeholder="Year">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="URL">
    </div>
  </div>
</form>
<br />
<form>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Price">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Purchased From">
    </div>
  </div>
</form>
<br />
<form>
  \
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="URL">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Image URL">
    </div>
  </div>
</form>
<br />
<button type="button" class="btn btn-success">Add Wine</button>

<%- include('../partials/footer') %>

