<%- include('../partials/header') %>
  <h3>
    <%= title  %> 
  </h3>
<ul>
  <% pairings.forEach((p)=> { %>

    <li><%= p.siteName %> </li>

    <% }) %>
  </ul>


      <%- include('../partials/footer') %>